@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .card-title {
    font-family: 'Playfair Display', serif;
  }
  
  .card-description {
    font-family: 'Playfair Display', serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
  background-color: black;
  }

  
  